<div class="container pt-3">
  <div class="row justify-content-md-center">
    <div class="col-11">
      <nav>
        <div class="nav nav-tabs justify-content-md-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-utxo-tab" data-bs-toggle="tab" data-bs-target="#nav-utxo" type="button" role="tab" aria-controls="nav-utxo" aria-selected="true">UTXOs</button>
          <button class="nav-link" id="nav-assets-tab" data-bs-toggle="tab" data-bs-target="#nav-assets" type="button" role="tab" aria-controls="nav-assets" aria-selected="false">Assets</button>
          <button class="nav-link" id="nav-send-tab" data-bs-toggle="tab" data-bs-target="#nav-send" type="button" role="tab" aria-controls="nav-send" aria-selected="false">Send</button>
          <button class="nav-link" id="nav-mint-tab" data-bs-toggle="tab" data-bs-target="#nav-mint" type="button" role="tab" aria-controls="nav-mint" aria-selected="false">Mint</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-utxo" role="tabpanel" aria-labelledby="nav-utxo-tab">
          <app-utxo-view></app-utxo-view>
        </div>
        <div class="tab-pane fade" id="nav-assets" role="tabpanel" aria-labelledby="nav-assets-tab">
          <app-assets-view></app-assets-view>
        </div>
        <div class="tab-pane fade" id="nav-send" role="tabpanel" aria-labelledby="nav-send-tab">...</div>
        <div class="tab-pane fade" id="nav-mint" role="tabpanel" aria-labelledby="nav-mint-tab">...</div>
      </div>
    </div>
  </div> 
</div>