<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Policy</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let utxo of utxos">
        <td>{{utxo.multiasset.name}}</td>
        <td>{{utxo.multiasset.policyId}}</td>
        <td>
          {{utxo.amount}} (lovelace)
          <div class="multiassets" *ngIf="utxo.multiasset">
            {{utxo.multiasset.amount}}
          </div>
        </td>
      </tr>
  </tbody>
</table>